@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-image: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: auto;
}
* {
  transition: all ease 0.3s;
}
::-webkit-scrollbar {
  margin-top: 40px;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4a66;
  border-radius: 4px;
}
textarea {
  outline-width: 2px;
  outline-color: blue;
  /* background-color: #0000001a; */
}
.addBtn:hover {
  background-color: #7ca3939c;
  transition: all ease 0.3s;
}